#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 40.8rem;
}

.App {
  display: flex;
}
.ol-mouse-position {
  opacity: 0%;
}
.overlay3 {
  width: 30px;
  height: 30px;
  background: black;
  display: flex;
  justify-content: center;
}
.ol-overlay-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(0, 0, 0, 0.11);
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ol-overlay-container p {
  color: white;
  z-index: -1;
}
ul {
  display: none;
}
#popup {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  z-index: 10;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
  background-color: gray;
}
.custom-mouse-position {
  opacity: 100;
  color: rgba(240, 248, 255, 0);
}
.clickDetector {
  position: fixed;
  height: 100rem;
  width: 100rem;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.botao-radius {
  margin-top: 1rem;
  width: 6rem;
  height: 3rem;
}
.mapBotton {
}
.ol-zoom-in {
  display: none;
}
.ol-zoom-out {
  display: none;
}
.ol-compass {
  display: none;
}
.ol-attribution button {
  display: none;
}
.ol-rotate-reset {
  display: none;
}
